#results
  %table
    %tr
      %th Title
      %th Uri
      %th
      %th
      %th

    - @documents.each do |document|
      %tr
        %td= document.title
        %td= document.uri
        %td= link_to 'Show', site_document_path(document.site.id.to_s,document.id.to_s)
        %td= link_to 'Edit', edit_site_document_path(document.site.id.to_s,document.id.to_s)
        %td= link_to 'Destroy', site_document_path(document.site.id.to_s,document.id.to_s), :confirm => 'Are you sure?', :method => :delete

  %br

  = paginate @documents