%h1 Listing documents

.search
  = form_tag documents_path, method: 'get' do
    = text_field_tag :query, params[:query]
    = submit_tag  "Search", nil

= link_to 'New Document', new_document_path
  

= render 'results'