%p#notice= notice

%p
  %b Title:
  = @document.title
%p
  %b Uri:
  = @document.uri
%p
  %b Excerpt:
  = @document.excerpt
= link_to 'Edit', edit_site_document_path(@document.site.id.to_s, @document.id.to_s)
\|
= link_to 'Back', site_documents_path(@document.site.id.to_s)
